<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-btm">
                    <div class="title">
                        <h3>Hakkımızda</h3>
                        <span class="border"></span>
                    </div>
                    <div class="our-info">
                        <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound.</p>
                        <ul class="footer-social-links">
                            <li><a href="#"><i class="fa fa-indtagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-lft mar-btm">
                    <div class="title">
                        <h3>Hızlı Linkler</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="quick-links">
                        <li><a asp-controller="Treatments" asp-action="Index">Tedaviler</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">Hakkımızda</a></li>
                        <li><a asp-controller="Gallery" asp-action="Index">Galeri</a></li>
                        <li><a asp-controller="Faqs" asp-action="Index">SSS</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                    </ul>
                </div>
            </div>
            <!--Start single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget martop">
                    <div class="title">
                        <h3>İletişim</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-pin map-marker"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Gümüşpala, 7020. Sk No:15, 35510 Bayraklı/İzmir</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology-1"></span>
                            </div>
                            <div class="text-holder">
                                <h5>+90 532 532 32 32</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-interface"></span>
                            </div>
                            <div class="text-holder">
                                <h5>kolaybahri8910@gmail.com</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Pzt - Cmt: 10.00 - 18.00</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget martop">
                    <div class="title" style="padding-bottom:0px !important">
                        <h3>Sosyal Medya</h3>
                        <span class="border"></span>
                    </div>
                    <div class="top-social-links">
                        <ul style="float:left !important;">
                            <li><a href="#"><i style="font-size:54px !important" class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget margintop50">
                    <div class="title">
                        <h3>Son İşlemler</h3>
                        <span class="border"></span>
                    </div>
                    
                    <ul class="latest-work-list">
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-1.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-2.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-3.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-4.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-5.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="image-holder">
                                <img src="images/footer/latest-work-6.jpg" alt="Awesome Image">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->

        </div>
    </div>
</footer>
<!--End footer area-->
<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p>Copyrights © 2025 All Rights Reserved by <a href="#">DentalElora.</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End footer bottom area-->  